<div class="jumbotron">
  <h1 class="jumbo-text text-center">Are you hungry?</h1>
  <h1 class="jumbo-text text-center">Check out these places to eat</h1>
  <h2 class="jumbo-text text-center">Add your favorite restaurant to the list too!</h2>
  <p class="text-center"><a class="btn btn-danger btn-lg" ui-sref="restaurantlist" role="button">Find your restaurant</a></p>
  <p class="text-center"><a class="btn btn-success btn-lg" ui-sref="restaurant-form" role="button">Enter your favorite restaurant</a></p>
</div>

<footer class="text-center">
  <p>Designed by Brian Chotisunanta</p>
  <p>2017</p>
</footer>
