<!-- This is the Restaurant Fill in Form -->

<h1>Restaurant Fill-in-Form</h1>

<div class="container">
  <form class="form-inline">
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
    </div>
    <div class="form-group">
      <label for="Address1">Address1</label>
      <input type="text" class="form-control" id="address1" placeholder="123 Main St.">
    </div>
    <div class="form-group">
      <label for="Address2">Address2</label>
      <input type="text" class="form-control" id="address2" placeholder="Suite. Unit. Apt...">
    </div>
    <div class="form-group">
      <label for="City">City</label>
      <input type="text" class="form-control" id="city" placeholder="New York">
    </div>
    <div class="form-group">
      <label for="State">State</label>
      <input type="text" class="form-control" id="state" placeholder="NY">
    </div>
    <div class="form-group">
      <label for="Zipcode">Zipcode</label>
      <input type="number" class="form-control" id="zipcode" placeholder="10036">
    </div>
    <div class="form-group">
      <label for="Website">Website</label>
      <input type="text" class="form-control" id="website" placeholder="McDonalds.com">
    </div>
  </form>
  <div class="restaurant-submit-and-save-btns">
    <button type="submit" class="btn btn-primary" ng-click="submitRestaurant()">Submit</button>
    <button type="save" class="btn btn-success" ng-click="saveRestaurant()">Save</button>
  </div>   <!-- End of restaurant-submit-and-save-btns -->
</div>    <!-- End of Container -->

<!-- Haven't pushed this changes yet - Nov 8 2017 -->
