<!-- This is the Restaurant Fill in Form -->

<div class="container">
  <form class="form-inline">
    <div class="form-group">
      <label for="exampleInputName2">Name</label>
      <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
    </div>
    <div class="form-group">
      <label for="exampleInputAddress2">Address1</label>
      <input type="text" class="form-control" id="address1" placeholder="123 Main St.">
    </div>
    <div class="form-group">
      <label for="exampleInputAddress2">Address2</label>
      <input type="text" class="form-control" id="address2" placeholder="Suite. Unit. Apt.">
    </div>
    <div class="form-group">
      <label for="exampleInputCity2">City</label>
      <input type="text" class="form-control" id="city" placeholder="New York">
    </div>
    <div class="form-group">
      <label for="exampleInputState2">State</label>
      <input type="text" class="form-control" id="state" placeholder="NY">
    </div>
    <div class="form-group">
      <label for="exampleInputZipcode2">Zipcode</label>
      <input type="number" class="form-control" id="zipcode" placeholder="10036">
    </div>
    <div class="form-group">
      <label for="exampleInputWebsite2">Website</label>
      <input type="text" class="form-control" id="website" placeholder="food.com">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

</div>
